@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    color: black;
    background: #e8e5ff;
}

h1 {
    font-size: 25px;
}

.wrapper-main {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.wrapper-top {
    height: 50px;
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    margin-top: 0.5vh;
    background: #e8e5ff;
}

.wrapper-description {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    display: flex;
    justify-content: center;
}

.wrapper-box {
    margin-bottom: 0.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper-info {
    max-width: 355px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    background: white;
    border: gray solid 1px;
    padding-bottom: 20px;

}
.wrapper-content{
    height: 90vh;
}

.content-description {
    max-width: 385px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    text-align: center;
    background: white;
    border: gray solid 1px;
}

.experience-description {
    color: white;
    max-width: 385px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    border-radius: 20px;
    background: #5f4bf9;
    text-align: center;
    border: black solid 1px;
}

.logo_spectrum {
    width: 240px;
}

.menu {
    display: none;
    width: 250px;
}

.experience-description {
    display: none;
}

#text-description {
    margin: 0;
    font-size: 15px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.img {
    width: 100%;
    max-width: 415px;
    border-radius: 20px;
    min-height: 375px;
    object-fit: cover;
    border: gray solid 1px;
}

.logo_spectrum {
    min-width: 125px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;

}

.button {
    max-width: 185px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    align-items: center;
    margin-top: 0px;
    text-decoration-line: none;
    background: #122130;
}

.wrapper-button-svg {
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-svg {
    width: 10px;
    height: auto;
}

.text-button {
    color: white;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.text-button-link {
    color: black;
    font-size: 10px;
    text-decoration: underline;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.link {
    max-width: 185px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
    align-items: center;
    margin-top: 0px;
    text-decoration-line: none;
}

.button:hover {
    background: #5f4bf9;
    cursor: pointer;
}

.link:hover {
    background: #e8e5ff;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .wrapper-description {
        display: none;
    }

    .img {
        width: 100%;
        max-width: 550px;
        border-radius: 20px;
    }

    .wrapper-info {
        max-width: 490px;
    }

    .logo_spectrum {
        min-width: 350px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        max-height: 750px;
        min-height: 300px;
    }

    .wrapper-description {
        min-height:416px ;
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
    }

    .wrapper-box {
        display: flex;
        flex-direction: column;
        width: 60%;
        min-height: 410px;
        align-items: center;
    }

    .experience-description {
        display: flex;
        font-size: clamp(10px, 1.5vw + 0.8vh, 30px);
    }

    .wrapper-img {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img {
        width: 100%;
        height: 100%;
        min-width: 440px;
        max-height: 50vh;
        min-height: 220px;
        max-width: 92%;
        border-radius: 20px;
        object-fit: cover;
        object-fit: cover;
    }

    .wrapper-info {
        margin-top: 1.5vh;
        max-width: 85%;
        min-height: 145px;
    }

    .wrapper-top {
        justify-content: space-around;
    }

    .logo_spectrum {
        min-width: 300px;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .content-description {
        max-width: 90%;
    }

    .experience-description {
        max-width: 90%;
    }

    #btn-asegurador:hover {
        background: white;
        border-radius: 5px;
        cursor: pointer;
    }

    #btn-trabajo:hover {
        background: white;
        border-radius: 5px;
        cursor: pointer;
    }

    p {
        margin: 0;
    }
}