*{
    background: black;
    color: orange;
}
/*Esto es un comentario*/
/*1- selector por elemento */
h1{
    color: aqua;
}
/*2- selector por clase */
.p_1{               /*El "." indica que se invoca la clase  */
    color: red;
}
/*2- selector por ID */
#titulo_h4{         /*El "#" indica que se invoca por ID  */
    color: purple;
}
img{
    width: 50px;
}
.product_card{
    color: black;
    background: white;
}
.product_card p{
    text-decoration: underline;
}
.product_card .product_text {
    text-decoration: underline;
}
.product_text{
    color: black;
    background: white;
}